<h3><%= @creator_name %> is looking for volunteers for the event: <%= @event.title %></h3>

<h4>Event Details:</h4>
<p><%= @event.description %></p>

<h4>Event Dates:</h4>
<p><%= @event.start_date %> to <%= @event.end_date %></p>

<p>Check out the event at <a href="#">Personow</a> to find available shifts</p>